p Welcome to the other projects section. This is the place where I will be sharing my projects which do not concern #[a(href="/music") music] or #[a(href="/music") YouTube]. Some of my projects include: 
h2 This website.
p You can see the source code for this website on #[a(href="https://github.com/ichbinderwooj/website") GitHub].