form(name="change_password" action="/community/change-password" method="post")
    table 
        tr 
            td 
                label Current Password 
            td 
                input(type="password" name="current_password" required)
        tr 
            td(colspan="2" class="err-text")
                if oldPasswordErr
                    p The password is incorrect.
        tr 
            td 
                label New Password 
            td 
                input(type="password" name="password" required)
        tr 
            td
                label Confirm New Password 
            td 
                input(type="password" name="confirm_password" required)
        tr 
            td(colspan="2" class="err-text")
                if newPasswordErr
                    p The passwords do not match.
    input(type="submit" value="Change password")