h2 Images 
p The background image is a photo by #[a(href="https://unsplash.com/@j?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText") Jeremy Cai] on #[a(href="https://unsplash.com/") Unsplash].
h2 Libraries 
p This website uses the following libraries: 
ul 
    li 
        a(href="https://www.npmjs.com/package/bcrypt") bcrypt 
    li 
        a(href="https://www.npmjs.com/package/cookie-parser") cookie-parser 
    li 
        a(href="https://www.npmjs.com/package/express") express 
    li 
        a(href="https://www.npmjs.com/package/express-session") express-session 
    li 
        a(href="https://www.npmjs.com/package/md5") md5
    li 
        a(href="https://www.npmjs.com/package/mysql") mysql
    li 
        a(href="https://www.npmjs.com/package/nodemailer") nodemailer
    li 
        a(href="https://www.npmjs.com/package/pug") pug
    li 
        a(href="https://www.npmjs.com/package/showdown") showdown
    li 
        a(href="https://www.npmjs.com/package/turndown") turndown
    li 
        a(href="https://www.npmjs.com/package/nodemon") nodemon 
    li 
        a(href="https://fontawesome.com") FontAwesome Icons 
    li 
        a(href="https://jquery.com") jQuery 
    li 
        a(href="https://prismjs.com") PrismJS
