section#registration 
    h2 Registration 
    p Upon registering an account, a username, an E-mail address and a password are taken. The username is used to identify the user and is publicly available. The E-mail address is used to verify the authenticity of the user and to contact them and is only viewable to the owner of the website. The password is encrypted using bcrypt and is available to no one. This information is deleted when the user deletes their account.
section#cookies
    h2 Use of Cookies 
    p When logged in, a session cookie will be stored to identify the user. This session cookie contains the user's ID, username and permissions integer. A cookie is also stored upon confirming the cookie notice. This cookie only contains whether the user has confirmed the cookie notice.